<div id="myTabContent" class="tab-content">
  <div role="tabpanel" class="tab-pane fade active in" id="demands" aria-labelledby="demands-tab">
    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table table-hover <%= 'empty-demands' if @user.demands.blank? %>">
          <thead>
            <tr>
              <th>Date</th>
              <th>Language</th>
              <th>Applicants</th>
            </tr>
          </thead>

          <tbody>
            <% @user.demands.each do |demand| %>
              <tr class="show-user-demand">
                <td><div class="neat-padding"><%= demand.created_at.strftime("%Y-%m-%d") %></div></td>
                <td>
                  <%= link_to demand do %>
                    <%= image_tag "flags/thumbs/#{demand.language.flag}" %>
                  <% end %>
                </td>
                <td>
                  <div class="neat-padding">
                    <%= demand.applicants.count %>
                  </div>
                </td>
              </tr>
            <% end %>
            <%= "There are no demands here." if @user.demands.blank? %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div role="tabpanel" class="tab-pane fade" id="applied" aria-labelledby="applied-tab">
    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table table-hover <%= 'empty-demands' if @user.demand_applications.blank? %>">
          <thead>
            <tr>
              <th>Date</th>
              <th>Language</th>
              <th>Applicants</th>
            </tr>
          </thead>

          <tbody>
            <% @user.demand_applications.each do |app| %>
              <tr class="show-user-demand">
                <td><div class="neat-padding"><%= app.created_at.strftime("%Y-%m-%d") %></div></td>
                <td>
                  <%= link_to demand_path(app.demand) do %>
                    <%= image_tag "flags/thumbs/#{app.demand.language.flag}" %>
                  <% end %>
                </td>
                <td>
                  <div class="neat-padding">
                    <%= app.demand.applicants.count %>
                  </div>
                </td>
              </tr>
            <% end %>
            <%= "There are no applied demands here." if @user.demand_applications.blank? %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div role="tabpanel" class="tab-pane fade" id="exper" aria-labelledby="exper-tab">
    <div class="panel panel-default">
      <div class="panel-body">

      </div>
    </div>
  </div>
</div>