<% provide :title, "Sign up" %>
<%= form_for(@user, html: { class: 'form-signup' }) do |f| %>
  <h2 class="form-signin-heading">Sign up</h2>


  <%= f.email_field :email, class: 'form-control email',
                                    placeholder: 'E-mail',
                                    autofocus: true %>

  <%= f.password_field :password, class: 'form-control password',
                                  placeholder: 'Password' %>

  <%= f.password_field :password_confirmation, class: 'form-control password-confirmation',
                                               placeholder: 'Password confirmation' %>


  <div class="has-account">Got account? <%= link_to 'Log in', login_path %> now</div>


  <%= f.submit 'Submit', class: 'btn btn-lg btn-success btn-block' %>
<% end %>
