<div class="demand">
  <div class="author-panel">
    <div class="container">

      <div class="demand-lang">
        <h2><%= display_username @demand.author %></h2>
        <div style="color: gray">wants to learn</div>
        <%= link_to(image_tag("flags/normal/#{@demand.language.flag}"),
            users_path(good_at: language_name(@demand.language))) %>
        <span class="lang-name"><%= @demand.language.name %></span>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <div class="time-table">
        <h2>Expected schedules</h2>
        <div class="time-options-field">
          <table class="table">
            <thead>
              <tr class="week_time">
                <th></th>
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thur</th>
                <th>Fri</th>
                <th>Sat</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <th>A.M.</th>
                <% WeekTime.spec_moment('Morning').each do |t| %>
                  <% if @demand.arrangements.include?(t) %>
                    <td><span class="check"></span></td>
                  <% else %>
                    <td></td>
                  <% end %>
                <% end %>

              </tr>

              <tr>
                <th>Noon</th>
                <% WeekTime.spec_moment('Noon').each do |t| %>
                  <% if @demand.arrangements.include?(t) %>
                    <td><span class="check"></span></td>
                  <% else %>
                    <td></td>
                  <% end %>
                <% end %>
              </tr>

              <tr>
                <th>P.M.</th>
                <% WeekTime.spec_moment('Night').each do |t| %>
                  <% if @demand.arrangements.include?(t) %>
                    <td><span class="check"></span></td>
                  <% else %>
                    <td></td>
                  <% end %>
                <% end %>
              </tr>
            </tbody>
          </table>
        </div>
      </div> <!-- time-table -->
    </div>
  </div>

  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <hr>
      <div>
        <h2>Applicants</h2>
        <% @demand.applicants.each do |applicant| %>
          <%= link_to applicant do %>
            <%= gravatar_for applicant, style: 'applicant-thumb', size: 48, title: display_username(applicant), image_class: 'applicant-avatar' %>
          <% end %>
        <% end %>
      </div>

      <!-- TODO: revised -->
      <div class="pull-right">
        <% if logged_in? %>
            <% if current_user.already_apply_for?(@demand) %>
              <%= link_to 'Applied', '#', class: 'btn btn-success disabled' %>
            <% end %>

            <% unless current_user.is_author_of?(@demand) || current_user.already_apply_for?(@demand) %>
              <%= link_to 'Apply', apply_form_demand_path(@demand), class: 'btn btn-success' %>
            <% end %>
          </div>
        <% else %>
          <%= link_to 'Apply', apply_form_demand_path(@demand), class: 'btn btn-success' %>
        <% end %>
      </div>
    </div>
  </div>

</div> <!-- demand -->