<div class="author-panel">
  <div class="demand-lang">
    <h2><%= link_to(display_username(@demand.author), @demand.author) %></h2>
    <div style="color: gray">wants to learn</div>
    <%= link_to(image_tag("flags/normal/#{@demand.language.flag}"),
        users_path(good_at: language_name(@demand.language))) %>
    <span class="lang-name"><%= @demand.language.name %></span>
    <%= render 'nav' %>
  </div>
</div>

<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <%= render 'content' %>
  </div>
</div>

<div class="footer apply-button-field">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <%= render 'footer' %>
    </div>
  </div>
</div>