<div class="demand">
  <div class="author-panel">
    <div class="container">
      <div class="demand-lang">
        <h2><%= display_username @demand.author %>wants to learn</h2>
        <%= link_to(image_tag("flags/normal/#{@demand.language.flag}"),
            users_path(good_at: language_name(@demand.language))) %>
        <span class="lang-name"><%= @demand.language.name %></span>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <div class="time-table">
        <h2>Schedule</h2>
        <div class="time-options-field">
          <table class="table">
            <thead>
              <tr class="week_time">
                <th></th>
                <th>Sun.</th>
                <th>Mon.</th>
                <th>Tue.</th>
                <th>Wed.</th>
                <th>Thur.</th>
                <th>Fri.</th>
                <th>Sat.</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <th>Morning</th>
                <% WeekTime.spec_moment('早').each do |t| %>
                <% if @demand.arrangements.include?(t) %>
                <td><span class="check"></span></td>
                <% else %>
                <td></td>
                <% end %>
                <% end %>

              </tr>

              <tr>
                <th>Afternoon</th>
                <% WeekTime.spec_moment('午').each do |t| %>
                <% if @demand.arrangements.include?(t) %>
                <td><span class="check"></span></td>
                <% else %>
                <td></td>
                <% end %>
                <% end %>
              </tr>

              <tr>
                <th>Night</th>
                <% WeekTime.spec_moment('晚').each do |t| %>
                <% if @demand.arrangements.include?(t) %>
                <td><span class="check"></span></td>
                <% else %>
                <td></td>
                <% end %>
                <% end %>
              </tr>
            </tbody>
          </table>
        </div>
      </div> <!-- time-table -->
    </div>
  </div>

  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <hr>
      <div>
        <h2>Applicants</h2>
        <% @demand.applicants.each do |applicant| %>
          <%= link_to applicant, title: display_username(applicant), class: 'applicant-link' do %>
            <%= gravatar_for applicant, style: 'applicant-thumb', size: 48 %>
          <% end %>
        <% end %>
      </div>

      <!-- TODO: revised -->
      <div class="pull-right">
        <% if logged_in? %>
            <% if current_user.already_apply_for?(@demand) %>
              <%= link_to 'Applied', '#', class: 'btn btn-primary disabled' %>
            <% end %>

            <% unless current_user.is_author_of?(@demand) || current_user.already_apply_for?(@demand) %>
              <%= link_to 'Apply', apply_form_demand_path(@demand), class: 'btn btn-success' %>
            <% end %>
          </div>
        <% else %>
          <%= link_to 'Apply', apply_form_demand_path(@demand), class: 'btn btn-success' %>
        <% end %>
      </div>
    </div>
  </div>

</div> <!-- demand -->